<nav class="navbar navbar-light bg-faded">
  <a href="#" class="navbar-brand">PetsApp</a>
  <div class="nav navbar-nav">
    <%= link_to 'Pets', pets_path, class: 'nav-item nav-link' -%>
    <%= link_to 'Breeds', breeds_path, class: 'nav-item nav-link' -%>
  </div>
</nav>
